# Secrets
.env
.env.local
tmp

# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/
dist/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node
node_modules/
frontend/.nuxt/
frontend/.output/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
# .vscode/settings.json

# Docker volumes / generated
pgdata/
# uv.lock
TODO.md